.idea
/Library
/MemoryCaptures
/Logs
/Temp
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/obj
/.idea

/*.csproj
/*.csproj.user
/*.sln

/.vs
/.vsconfig
/ServerData
/.vscode
/Battle.csproj
/Dotween.csproj
/GameConfig.csproj
/GameState.csproj
/Model.csproj
/NewAssembly.csproj
/ThirdParty.csproj
/Unity.ThirdParty.csproj
/Utils.csproj
/XluaSec.csproj
/Assembly-CSharp-firstpass.csproj
/Assets/StreamingAssets/*
/Assets/NatureManufacture Assets/Ice World/Textures/*

/NavMeshComponents.csproj
/NavMeshComponentsEditor.csproj
/NavMeshComponentsExamples.csproj
/NavMeshComponentsExamplesEditor.csproj
/NavMeshComponentsTestsEditmode.csproj
/NavMeshComponentsTestsPlaymode.csproj
/**/*.csproj